server:
  port: 8084

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: USER-SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
        - id: RATING-SERVICE
          uri: lb://RATING-SERVICE
          predicates:
            - Path=/ratings/**
        - id: HOTEL-SERVICE
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://${db_host:localhost}:8761/eureka

okta:
  oauth2:
    issuer: https://dev-29838674.okta.com/oauth2/default
    audience: api://default
    client-id: 0oa945isiyTL3dEMH5d7
    client-secret: l5ilpGlL2WQun8T_PjaJ4d9FlxturPeKO5FZad8l
    scopes: openid,profile,email,offline_access


