version: '1'
services:
  service-registry:
    build: ./ServiceRegistry
    container_name: service-reg-container
    ports:
      - 8761:8761
    networks:
      - my-network
    environment:
      - db_host = service-reg-container
  api-gateway:
    build: ./ApiGateway
    container_name: api-gateway-container
    ports:
      - 8084:8084
    networks:
      - my-network
    depends_on:
      - service-registry
    environment:
      - db_host = service-reg-container
  user-service:
    build: ./UserService
    container_name: user-service-container
    ports:
      - 8081:8081
    networks:
      - my-network
    depends_on:
      - service-registry
      - mysql1
    environment:
      - db_url = jdbc:mysql://mysql1:3306/microservices
      - db_username = root
      - db_password = master
      - db_host = service-reg-container
  hotel-service:
    build: ./HotelService
    container_name: hotel-service-container
    ports:
      - 8082:8082
    networks:
      - my-network
    depends_on:
      - service-registry
      - mysql2
    environment:
      - db_url = jdbc:mysql://mysql2:3306/micro_hotel
      - db_username = root
      - db_password = master
      - db_host = service-reg-container
  rating_service:
    build: ./RatingService
    container_name: user-service-container
    ports:
      - 8083:8083
    networks:
      - my-network
    depends_on:
      - service-registry
      - mysql3
    environment:
      - db_url = jdbc:mysql://mysql3:3306/micro_rating
      - db_username = root
      - db_password = master
      - db_host = service-reg-container
  mysql1:
    image: mysql:8.0
    container_name: mysql1
    environment:
      - MYSQL_ROOT_PASSWORD=master
      - MYSQL_DATABASE=microservices
    networks:
      - my-network
    volumes:
      - ./mysql1:/var/lib/mysql:delegated
  mysql2:
    image: mysql:8.0
    container_name: mysql2
    environment:
      - MYSQL_ROOT_PASSWORD=master
      - MYSQL_DATABASE=micro_hotel
    networks:
      - my-network
    volumes:
      - ./mysql2:/var/lib/mysql:delegated
  mysql3:
    image: mysql:8.0
    container_name: mysql3
    environment:
      - MYSQL_ROOT_PASSWORD=master
      - MYSQL_DATABASE=micro_rating
    networks:
      - my-network
    volumes:
      - ./mysql3:/var/lib/mysql:delegated

networks:
  my-network:
    driver: bridge
